li  {
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: 1px solid black;
    display: inline-block;
}

button {
    text-align: right;
    margin-left: 5px;
}

.addBeer button {
    float: left;
}