<div class="container">
  <h1 class="jumbotron">{{ title }}</h1>

<h3>Beers For Sale</h3>
<hr>
<div class="col-md-6">
  <ul>
    <li *ngFor="let currentBeer of beers">{{currentBeer.brand}}, {{currentBeer.type}} | ${{currentBeer.price}} | {{currentBeer.alcoholContent}}% <button (click)="editBeer(currentBeer)"> edit</button> </li>
  </ul>
</div>

<div *ngIf="selectedBeer">
  <h3>{{selectedBeer.name}} ${{selectedBeer.price}}</h3>
  <label>Update the Price</label>
  <input [(ngModel)]="selectedBeer.price">
  <button (click) ="finishedEditing()">Done!</button>
</div>

</div>

