<div class="container">
  <h1 class="jumbotron">{{ title }}</h1>

  <h3>Beers For Sale</h3>
  <hr>
  <div class="col-md-7">
    <ul>
      <li [class]="sortPrice(currentBeer)" *ngFor="let currentBeer of beers">{{currentBeer.brand}},
        {{currentBeer.type}} | ${{currentBeer.price}} | {{currentBeer.alcoholContent}}% | {{currentBeer.pintsLeft}}
        <button (click)="editBeer(currentBeer)"> Edit </button>
    <button (click)="sellBeer(currentBeer)"> Sell</button>
    <button (click)="kegRefill(currentBeer)">Refill</button>
      </li>
    </ul>
    <ul>
      <li>{{newBeer.brand}},
        {{newBeer.type}} | ${{newBeer.price}} | {{newBeer.alcoholContent}}% | {{newBeer.pintsLeft}}
        <button (click)="editBeer(currentBeer)"> Edit </button>
        <button (click)="sellBeer(currentBeer)"> Sell</button>
        </li>
      </ul>
    <hr>
  
    <button (click)="addBeer(newBeer)">Add Beer</button>
  </div>

  <div *ngIf="selectedBeer">
    <label>Update the Name</label>
    <input [(ngModel)]="selectedBeer.brand">
    <label>Update the Type</label>
    <input [(ngModel)]="selectedBeer.type">
    <label>Update the Price</label>
    <input [(ngModel)]="selectedBeer.price">
    <label>Update the Alcohol Content</label>
    <input [(ngModel)]="selectedBeer.alcoholContent">
    <hr>
  </div>
    <!-- add -->
    <div *ngIf="newBeer">
      <label>New Name</label>
      <input [(ngModel)]="newBeer.brand">
      <label>New Type</label>
      <input [(ngModel)]="newBeer.type">
      <label>New Price</label>
      <input [(ngModel)]="newBeer.price">
      <label>New Alcohol Content</label>
      <input [(ngModel)]="newBeer.alcoholContent">
      <button (click)="finishedEditing()">Done!</button>
    </div>
   
  </div>